* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}



.main {
    user-select: none;
    background-color: #111827;
}


/* about */
#about {
    width: 100%;
    height: 800px;
    background-color: #1D1B1B;
}

#about h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 51px;
    transform: translateY(98px);
    margin-left: 85px;
}


#about .container {
    width: 89%;
    height: 600px;
    display: flex;
    flex-direction: row;
    /* background-color: azure; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transform: translateY(19%);
    justify-content: space-between;
}

#about .container .about-left {
    width: 801px;
    height: 480px;
    background-color: #8CF2E0;
    background: url("../img/sss.webp");
    background-size: cover;
    border-radius: 20px;
}

/* #about .container .about-left:hover {
    cursor: pointer;
    border: 1px solid #ccc;
    transition: .25s ease;

} */

#about .container .about-right {
    width: 534px;
    height: 480px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about .about-right .box {
    width: 534px;
    height: 235px;
    border-radius: 20px;
}

/* #about .about-right .box:hover {
    cursor: pointer;
    border: 1px solid #ccc;
    transition: .25s ease;
} */

#about .about-right .box1 {
    background: url("../img/lucian.jpg");
    background-size: cover;
}

#about .about-right .box2 {
    background: url("../img/nasus.webp");
    background-size: cover;
}



/* slider */

#slider {
    max-width: 1000px;
    margin: 25px auto;
    position: relative;
}

.slider-next,
.slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    font-size: 20px;
}

.slider-next {
    right: -150px;
}

.slider-prev {
    left: -150px;
}

.slider-wrapper {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.slider-main {
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
    height: 100%;
}

.slider-item {
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
    user-select: none;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* News */

#news {
    width: 100%;
    height: 763px;
    background-color: #242121;
}

#news h2 {
    display: inline-block;
    color: white;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 68px;
    position: relative;
}

#news h2:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 3px;
    background-color: aqua;
}

#news .box-news {
    display: flex;
    flex-direction: column;

}

#news .box-column {
    display: flex;
    width: 1202px;
    height: 236px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
}

#news .box-column .box {

    width: 591px;
    height: 260px;
    background-color: #969393;
    border-radius: 20px;
}

#news .box1 {
    background: url("../img/new1.png") center no-repeat;
    background-size: cover;
}

#news .box2 {
    background: url("../img/new2.png") center no-repeat;
    background-size: cover;
}

#news .box3 {
    background: url("../img/new3.png") center no-repeat;
    background-size: cover;
}

#news .box4 {
    background: url("../img/new4.png")center no-repeat;
    background-size: cover;
}

/* contact */

#contact {
    width: 100%;
    height: 900px;
    background-color: rgb(3, 6, 8);
    position: relative;
}

#contact .map {
    width: 1012px;
    height: 679px;
    position: absolute;
    background: url("../img/player-guide-map-1440-32575baa2f8d2b2bfd5cfd07e11d1361.png") center no-repeat;
    background-size: cover;
    top: 150px;
    transform: translateX(42%);
    animation: mapScroll ease 2s;
}

#contact .contact-button {
    padding: 20px 40px;
    background-color: rgb(11, 198, 227);
    font-size: 18px;
    margin-left: 80px;
    margin-top: 373px;
    position: relative;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

#contact .contact-content {
    width: 654px;
    height: 100px;
    color: wheat;
    font-style: italic;
    text-align: center;
    line-height: 2.6;
    transform: translateY(281px);
    animation: textScroll ease 2s;
    display: block;
    position: relative;
}

#contact .contact-content .contact-text1 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#contact .contact-content .contact-text2 {
    font-size: 49px;
    line-height: 0.85;
    font-family: "Beaufort for LOL", serif;
    font-weight: 800;
    letter-spacing: 0.03em;
}

.contact-button span {
    position: absolute;
    background-color: #8CF2E0;
    display: block;
    transition: all 0.25s linear;
}

.contact-button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
}

.contact-button span:nth-child(2) {
    top: 0;
    right: 0;
    width: 3px;
    height: 0;
    transition-delay: 0.25s;
}

.contact-button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    transition-delay: 0.5s;
}

.contact-button span:nth-child(4) {
    bottom: 0;
    left: 0;
    width: 3px;
    height: 0;
    transition-delay: 0.75s;
}

.contact-button:hover span:nth-child(odd) {
    width: 100%;

}

.contact-button:hover span:nth-child(even) {
    height: 100%;
}

/* footer */

footer {
    border-top: 5px solid #8CF2E0;
    width: 100%;

    background-color: #111827;
    height: 450px;
    display: flex;
    flex-direction: column;

}

footer .icons-footer {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
}


footer li {
    list-style: none;
}

footer i {
    margin: 0 20px;
    cursor: pointer;
}

footer .logo-footer {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
}

footer .logo-footer .logo1 {
    width: 115px;
    height: 32px;
    background: url("../img/image\ \(2\).png");
    background-size: cover;
    background-position: center;
}

footer .logo-footer .logo2 {
    width: 134px;
    height: 18px;
    background: url("../img/2022_VNG_logo_mini.png");
    background-size: cover;
    margin-top: 14px;
    background-position: center;
}

footer .logo-footer>div {
    margin: 0 15px;
}

footer .text-footer {
    color: #7e7e7e;
    width: 640px;
    height: 37px;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;

    margin: 0 auto;

}

footer .img-footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .img-footer .box-img {
    width: 250px;
    height: 125px;
    background-color: #292929;
    border-radius: 8px;
}

footer .img-footer img {
    margin: 0 auto;
    display: block;
    transform: translateY(12px);
}




@keyframes mapScroll {
    from {
        transform: translateX(50%);

    }

    to {
        transform: translateX(42%);
    }
}

@keyframes textScroll {
    form {
        transform: translateY(40px);
    }

    to {
        transform: translateY(281px);
    }
}