.video {
    width: 700px;
    display: block;
    margin: 0 auto;
}

.container {
    margin-top: 30px;
    text-align: center;
}

button {
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

button:hover {
    background-color: #ccc;
}